@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Nunito";
}

header {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    background-color: cadetblue;
}

nav li {
    display: inline;
    padding: 0 20px;
}


.nav_list {
    list-style: none;   
}

.nav_list li a:hover {
    text-decoration: underline;
}

li a {
    color: black;
    font-size: 20px;
    font-weight: auto;
}

/*THIS IS WHERE THE MAIN STARTS AKA THE LIST */
.tittle {
    padding: 30px 0;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}
.list {
    background-color: lightgray;
    margin: 0 11%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 10px;
}
.item {
    border: 1px solid black;
    text-decoration: none;
    padding: 20px 20px;
    margin: 5px 5px;
}

.item li {
    list-style: none;
}
