button {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    font-size: 20px;
    transition: 0.3s;
    border-radius: 5px;
}

button:hover {
    background-color: black;
    color: white;
    transition: all 0.3s ease 0s;
    border-radius: 50px;
    font-weight: 700;
}