@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');

* {
    font-family: 'Noto Sans JP', sans-serif;
}

.header__nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.header__nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.header__nav a:hover {
    color: #f1f1f1;
}

.header__nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#title {
    transition: margin-left .5s;
    padding: 0;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

header img {
    width: 50px;
}
header span {
    margin-left: 20px;
    margin-right: 40px;
}
